<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="CommandsNameSpace" value="TheGreatC.Commands"/>
    <add key="LogPath" value="D:\"/>
    <add key="LogFeature" value="false"/>
  </appSettings>
</configuration>
